
<fieldset class="cbi-section">
	<table width="100%">
	  <tr><td width="100%" colspan="4">
	    <p align="center" id="update_tip">
	  		<b><%:Catatan: jika pembaruan gagal, Anda dapat mengunduh dan mengunggah secara manual%></b>
	  	</p>
	  </td></tr>
	  <tr><td width="25%"><%:Versi Terkompilasi Dipilih%></td>
	  	<td width="25%" align="left"><select id="CORE_VERSION">
	  		<option value="linux-386"><%:linux-386%></option>
				<option value="linux-amd64"><%:linux-amd64(x86-64)%></option>
				<option value="linux-amd64-v3"><%:linux-amd64-v3(x86-64)%></option>
				<option value="linux-armv5"><%:linux-armv5%></option>
				<option value="linux-armv6"><%:linux-armv6%></option>
				<option value="linux-armv7"><%:linux-armv7%></option>
				<option value="linux-arm64"><%:linux-arm64(armv8)%></option>
				<option value="linux-mips-hardfloat"><%:linux-mips-hardfloat%></option>
				<option value="linux-mips-softfloat"><%:linux-mips-softfloat%></option>
				<option value="linux-mips64"><%:linux-mips64%></option>
				<option value="linux-mips64le"><%:linux-mips64le%></option>
				<option value="linux-mipsle-softfloat"><%:linux-mipsle-softfloat%></option>
				<option value="linux-mipsle-hardfloat"><%:linux-mipsle-hardfloat%></option>
				<option value="0"><%:Tidak diatur%></option>
	  	</select></td>
	  	<td width="25%"><%:Rilis Cabang Dipilih%></td>
	  	<td width="25%" align="left"><select id="RELEASE_BRANCH">
	  		<option value="master">Master</option>
				<option value="dev">Developer</option>
	  	</select></td>
	  	</tr>
		<tr>
			<td width="25%"><%:Arsitektur CPU%></td><td width="25%" align="left" id="CPU_MODEL"><%:.%></td>
			<td width="25%"><%:Pembaruan Pemeriksaan Terakhir%></td><td width="25%" align="left" id="CHECKTIME"><%:.%></td>
		</tr>
	  <tr><td width="100%" colspan="4">
	    <p align="center">
	  		<b><%:Lokasi Simpan:%>/etc/openclash/core/clash</b>
	  	</p>
	  </td></tr>
		<tr><td width="25%">[Dev] <%:Current Core%></td><td width="25%" align="left" id="CORE_CV"><%:.%></td><td width="25%">[Dev] <%:Core Terbaru%></td><td width="25%" align="left" id="CORE_LV"><%:.%></td></tr>
		<tr><td width="25%"><%:Perbarui Core%></td><td width="25%" align="left" id="core_up"><%:.%></td><td width="25%"><%:Unduh Core Terbaru%></td><td width="25%" align="left" id="ma_core_up"><%:.%></td></tr>
		<tr><td width="100%" colspan="4">
	    <p align="center">
	  		<b><%:Lokasi Simpan:%>/etc/openclash/core/clash_tun</b>
	  	</p>
	  </td></tr>
		<tr><td width="25%">[TUN] <%:Core Saat ini%></td><td width="25%" align="left" id="CORE_TUN_CV"><%:.%></td><td width="25%">[TUN] <%:Core Terbaru%></td><td width="25%" align="left" id="CORE_TUN_LV"><%:.%></td></tr>
		<tr><td width="25%"><%:Perbarui Core%></td><td width="25%" align="left" id="core_tun_up"><%:.%></td><td width="25%"><%:Unduh Core Terbaru%></td><td width="25%" align="left" id="ma_core_tun_up"><%:.%></td></tr>
		<tr><td width="100%" colspan="4">
	    <p align="center">
	  		<b><%:Lokasi Simpan:%>/etc/openclash/core/clash_meta</b>
	  	</p>
	  </td></tr>
		<tr><td width="25%">[Meta] <%:Core Saat ini%></td><td width="25%" align="left" id="CORE_META_CV"><%:.%></td><td width="25%">[Meta] <%:Core Terbaru%></td><td width="25%" align="left" id="CORE_META_LV"><%:.%></td></tr>
		<tr><td width="25%"><%:Perbarui Core%></td><td width="25%" align="left" id="core_meta_up"><%:.%></td><td width="25%"><%:Unduh Core Terbaru%></td><td width="25%" align="left" id="ma_core_meta_up"><%:.%></td></tr>
	</table>
</fieldset>
<fieldset class="cbi-section">
	<table width="100%">
		<tr><td width="100%" colspan="4">
	    <p align="center">
	  		<b><%:Pembaruan Klien%></b>
	  	</p>
	  </td></tr>
		<tr><td width="25%"><%:Klien Saat ini%></td><td width="25%" align="left" id="OP_CV"><%:.%></td><td width="25%"><%:Klien Terbaru%></td><td width="25%" align="left" id="OP_LV"><%:.%></td></tr>
	  <tr><td width="25%"><%:Perbarui Klien%></td><td width="25%" align="left" id="op_up"><%:.%></td><td width="25%"><%:Unduh Klien Terbaru%></td><td width="25%" align="left" id="ma_op_up"><%:.%></td></tr>
	</table>
</fieldset>
<fieldset class="cbi-section">
	<table width="100%">
	  <tr>
	  	<td width="25%">
	  	   <p align="center" id="restore">
	  		   <%:.%>
	  	   </p>
	  	</td>
	  	<td width="25%">
	  	   <p align="center" id="remove_core">
	  		   <%:.%>
	  	   </p>
	  	</td>
	    <td width="25%">
	  	   <p align="center" id="one_key_update">
	  		   <%:.%>
	  	   </p>
	    </td>
	  </tr>
	</table>
</fieldset>
<fieldset class="cbi-section">
	<table width="100%">
		<tr><td width="100%" colspan="4">
	    <p align="center">
	  		<b><%:Bagian Cadangan%></b>
	  	</p>
		</td></tr>
		<tr>
	  	<td width="25%">
	  	   <p align="center" id="backup">
	  		   <%:.%>
	  	   </p>
	  	</td>
	  	<td width="25%">
	  	   <p align="center" id="backup_ex_core">
	  		   <%:.%>
	  	   </p>
	  	</td>
	  	<td width="25%">
	  	   <p align="center" id="backup_core_only">
	  		   <%:.%>
	  	   </p>
	  	</td>
		</tr>
		<tr>
	  	<td width="25%">
	  	   <p align="center" id="backup_config_only">
	  		   <%:%>
	  	   </p>
	  	</td>
	  	<td width="25%">
	  	   <p align="center" id="backup_rule_only">
	  		   <%:.%>
	  	   </p>
	  	</td>
	  	<td width="25%">
	  	   <p align="center" id="backup_proxy_only">
	  		   <%:.%>
	  	   </p>
	  	</td>
		</tr>
	</table>
</fieldset>

<script type="text/javascript">//<![CDATA[
	var core_version = document.getElementById('CORE_VERSION');
 	var checktime = document.getElementById('CHECKTIME');
	var cpu_model = document.getElementById('CPU_MODEL');
	var core_cv = document.getElementById('CORE_CV');
	var core_lv = document.getElementById('CORE_LV');
	var core_tun_cv = document.getElementById('CORE_TUN_CV');
	var core_tun_lv = document.getElementById('CORE_TUN_LV');
	var core_meta_cv = document.getElementById('CORE_META_CV');
	var core_meta_lv = document.getElementById('CORE_META_LV');
	var op_cv = document.getElementById('OP_CV');
	var op_lv = document.getElementById('OP_LV');
	var core_up = document.getElementById('core_up');
	var core_tun_up = document.getElementById('core_tun_up');
	var core_meta_up = document.getElementById('core_meta_up');
	var op_up = document.getElementById('op_up');
	var update_tip = document.getElementById('update_tip');
	var ma_core_up  = document.getElementById('ma_core_up');
	var ma_core_tun_up  = document.getElementById('ma_core_tun_up');
	var ma_core_meta_up  = document.getElementById('ma_core_meta_up');
	var ma_op_up  = document.getElementById('ma_op_up');
	var restore  = document.getElementById('restore');
	var backup  = document.getElementById('backup');
	var backup_ex_core  = document.getElementById('backup_ex_core');
	var backup_core_only = document.getElementById('backup_core_only');
	var backup_config_only = document.getElementById('backup_config_only');
	var backup_rule_only = document.getElementById('backup_rule_only');
	var backup_proxy_only = document.getElementById('backup_proxy_only');
	var one_key_update  = document.getElementById('one_key_update');
	var remove_core  = document.getElementById('remove_core');
	var release_branch  = document.getElementById('RELEASE_BRANCH');
	core_up.innerHTML = '<input type="button" class="btn cbi-button cbi-button-reload" value="<%:Check And Update%>" onclick="return core_update(this,\'Dev\')"/>';
	core_tun_up.innerHTML = '<input type="button" class="btn cbi-button cbi-button-reload" value="<%:Check And Update%>" onclick="return core_update(this,\'TUN\')"/>';
	core_meta_up.innerHTML = '<input type="button" class="btn cbi-button cbi-button-reload" value="<%:Check And Update%>" onclick="return core_update(this,\'Meta\')"/>';
	op_up.innerHTML = '<input type="button" class="btn cbi-button cbi-button-reload" value="<%:Check And Update%>" onclick="return op_update(this)"/>';
	ma_core_up.innerHTML = '<input type="button" class="btn cbi-button cbi-button-reload" value="<%:Download%>" onclick="return ma_core_update(this,\'Dev\')"/>';
	ma_core_tun_up.innerHTML = '<input type="button" class="btn cbi-button cbi-button-reload" value="<%:Download%>" onclick="return ma_core_update(this,\'TUN\')"/>';
	ma_core_meta_up.innerHTML = '<input type="button" class="btn cbi-button cbi-button-reload" value="<%:Download%>" onclick="return ma_core_update(this,\'Meta\')"/>';
	ma_op_up.innerHTML = '<input type="button" class="btn cbi-button cbi-button-reload" value="<%:Download%>" onclick="return ma_op_update(this)"/>';
	restore.innerHTML = '<input type="button" class="btn cbi-button cbi-button-reset" value="<%:Restore Default Config%>" onclick="return restore_config(this)"/>';
	one_key_update.innerHTML = '<input type="button" class="btn cbi-button cbi-button-reset" value="<%:One Click Check Update%>" onclick="return all_one_key_update(this)"/>';
	remove_core.innerHTML = '<input type="button" class="btn cbi-button cbi-button-reset" value="<%:Remove Core%>" onclick="return remove_all_core(this)"/>';
	backup.innerHTML = '<input type="button" class="btn cbi-button cbi-button-reset" value="<%:Backup OpenClash%>" onclick="return backup_all_file(this)"/>';
	backup_ex_core.innerHTML = '<input type="button" class="btn cbi-button cbi-button-reset" value="<%:Backup Exclude Cores%>" onclick="return backup_no_core(this)"/>';
	backup_core_only.innerHTML = '<input type="button" class="btn cbi-button cbi-button-reset" value="<%:Backup Core%>" onclick="return backup_only_core(this)"/>';
	backup_config_only.innerHTML = '<input type="button" class="btn cbi-button cbi-button-reset" value="<%:Backup Config%>" onclick="return backup_only_config(this)"/>';
	backup_rule_only.innerHTML = '<input type="button" class="btn cbi-button cbi-button-reset" value="<%:Backup Rule Provider%>" onclick="return backup_only_rule(this)"/>';
	backup_proxy_only.innerHTML = '<input type="button" class="btn cbi-button cbi-button-reset" value="<%:Backup Proxy Provider%>" onclick="return backup_only_proxy(this)"/>';

	XHR.get('<%=luci.dispatcher.build_url("admin", "services", "openclash", "update_info")%>', null, function(x, status) {
		if ( x && x.status == 200 ) {
			if ( status.corever != "0" && status.corever != "" ) {
		  		core_version.value = status.corever;
			}
			else {
		  		core_version.value = "0";
			}
			if ( status.release_branch != "" ) {
		  		release_branch.value = status.release_branch;
			}
			else {
		  		release_branch.value = "master";
			}
		}
		else {
			core_version.value = "0";
			release_branch.value = "master";
		}
	});
	
	XHR.poll(3, '<%=luci.dispatcher.build_url("admin", "services", "openclash", "update")%>', null, function(x, status) {
		if ( x && x.status == 200 ) {
			cpu_model.innerHTML = status.coremodel ? "<b style=color:green>"+status.coremodel+"</b>" : "<b style=color:orange><%:Model Tidak Ditemukan%></b>";
			if ( status.upchecktime != "1" ) {
				checktime.innerHTML = "<b style=color:purple>"+status.upchecktime+"</b>";
			}
			else {
				checktime.innerHTML = "<b style=color:orange><%:Gagal Memeriksa%></b>";
			}
			if ( status.corecv == "0" ) {
				core_cv.innerHTML = "<b style=color:orange><%:File Tidak Ada%></b>";
			}
			else if (status.corecv != "") {
				core_cv.innerHTML = "<b style=color:purple>"+status.corecv+"</b>";
			}
			else {
				core_cv.innerHTML = "<b style=color:orange><%:Tidak dikenal%></b>";
			}
			if ( status.coretuncv == "0" ) {
				core_tun_cv.innerHTML = "<b style=color:orange><%:File Tidak Ada%></b>";
			}
			else if (status.coretuncv != "") {
				core_tun_cv.innerHTML = "<b style=color:purple>"+status.coretuncv+"</b>";
			}
			else {
				core_tun_cv.innerHTML = "<b style=color:orange><%:Tidak dikenal%></b>";
			}
			if ( status.coremetacv == "0" ) {
				core_meta_cv.innerHTML = "<b style=color:orange><%:File Tidak Ada%></b>";
			}
			else if (status.coremetacv != "") {
				core_meta_cv.innerHTML = "<b style=color:purple>"+status.coremetacv+"</b>";
			}
			else {
				core_meta_cv.innerHTML = "<b style=color:orange><%:Tidak dikenal%></b>";
			}
			var corelv = status.corelv;
			var arr_core = corelv.split(",");
			var corelvis = arr_core[0];
			var coretunlvis = arr_core[1];
			var coremetalvis = arr_core[2];
			if (corelvis != status.corecv && corelvis != "" && corelvis != "\n") {
			   core_lv.innerHTML = "<b style=color:purple>"+corelvis+"<%:<Baru>%></b>";
			}
			else if (corelvis != "" && corelvis == status.corecv && corelvis != "\n") {
			   core_lv.innerHTML = "<b style=color:purple>"+corelvis+"</b>";
			}
			else {
			   core_lv.innerHTML = "<b style=color:orange><%:Tidak dikenal%></b>";
			}
			if (coretunlvis != status.coretuncv && coretunlvis != "" && coretunlvis != "\n") {
			   core_tun_lv.innerHTML = "<b style=color:purple>"+coretunlvis+"<%:<New>%></b>";
			}
			else if (coretunlvis != "" && coretunlvis == status.coretuncv && coretunlvis != "\n") {
			   core_tun_lv.innerHTML = "<b style=color:purple>"+coretunlvis+"</b>";
			}
			else {
			   core_tun_lv.innerHTML = "<b style=color:orange><%:Tidak dikenal%></b>";
			}
			if (coremetalvis != status.coremetacv && coremetalvis != "" && coremetalvis != "\n") {
			   core_meta_lv.innerHTML = "<b style=color:purple>"+coremetalvis+"<%:<Baru>%></b>";
			}
			else if (coremetalvis != "" && coremetalvis == status.coremetacv && coremetalvis != "\n") {
			   core_meta_lv.innerHTML = "<b style=color:purple>"+coremetalvis+"</b>";
			}
			else {
			   core_meta_lv.innerHTML = "<b style=color:orange><%:Tidak dikenal%></b>";
			}
			var oplv = status.oplv;
			var arr_op = oplv.split(",");
			var oplvis = arr_op[0];
			var new_op = arr_op[1];
			op_cv.innerHTML = status.opcv ? "<b style=color:purple>"+status.opcv+"</b>" : "<b style=color:orange><%:Tidak dikenal%></b>";
			if ( new_op == "2" && oplvis != "" && oplvis != "\n") {
			   op_lv.innerHTML = "<b style=color:purple>"+oplvis+"<%:<Baru>%></b>";
			}
			else if (oplvis != "" && oplvis != "\n") {
			   op_lv.innerHTML = "<b style=color:purple>"+oplvis+"</b>";
			}
			else {
			   op_lv.innerHTML = "<b style=color:orange><%:Tidak dikenal%></b>";
			}
		}
	});

	XHR.poll(7, '<%=luci.dispatcher.build_url("admin", "services", "openclash", "startlog")%>', status.startlog, function(x, status) {
		if ( x && x.status == 200 ) {
			if ( status.startlog == "\n" || status.startlog == "" ) {
		    	var rdmdl=Math.floor(Math.random()*2)+1;
				if(rdmdl==1)
				{
					update_tip.innerHTML = '<b><font><%:Catatan: jika pembaruan gagal, Anda dapat mengunduh dan mengunggah secara manual%></font></b>';
				}
				if(rdmdl==2)
				{
					update_tip.innerHTML = '<b><font><%:Catatan: klien mungkin tidak mendukung pembaruan, karena firmware dengan format squashfs tidak akan melepaskan ruang flash setelah memperbarui%></font></b>';
				}
      		 }
   		}
	});

	XHR.poll(1, '<%=luci.dispatcher.build_url("admin", "services", "openclash", "startlog")%>', null, function(x, status) {
	  if ( x && x.status == 200 ) {
	  	if ( status.startlog.match("level=fatal") ) {
	    	XHR.get('<%=luci.dispatcher.build_url("admin", "services", "openclash", "del_start_log")%>', null, function(x) {});
	    	alert('<%:OpenClash Gagal Memulai%> :\n\n' + status.startlog.split('msg=')[1]);
		}
		else if ( status.startlog != "\n" && status.startlog != "" ) {
	    	update_tip.innerHTML = '<b style=color:purple>'+status.startlog+'</b>';
		};
	  };
	});
	
	function core_update(btn,type)
    {
    	var v = core_version.value;
    	var r = release_branch.value;
			XHR.get('<%=luci.dispatcher.build_url("admin", "services", "openclash", "save_corever_branch")%>', {core_ver: v, release_branch: r}, function(x, status) {
				if (x && x.status == 200) {
					XHR.get('<%=luci.dispatcher.build_url("admin", "services", "openclash", "coreupdate")%>', {core_type: type}, function(x, status) {
        	btn.value    = '<%:Periksa Dan Perbarui%>';
        	btn.disabled = false;
        	return false;
        	});
				}
		});
    }

	function op_update(btn)
    {
        var r = release_branch.value;
		XHR.get('<%=luci.dispatcher.build_url("admin", "services", "openclash", "save_corever_branch")%>', {release_branch: r}, function(x, status) {
		if (x && x.status == 200) {
           XHR.get('<%=luci.dispatcher.build_url("admin", "services", "openclash", "opupdate")%>', null, function(x, status) {
           btn.value    = '<%:Periksa Dan Perbarui%>';
           btn.disabled = false;
           return false;
           });
        }
		});
    }
    
    function ma_core_update(btn,type)
    {
    	var v = core_version.value;
		var r = release_branch.value;
		XHR.get('<%=luci.dispatcher.build_url("admin", "services", "openclash", "save_corever_branch")%>', {core_ver: v, release_branch: r}, function(x, status) {
		if (x && x.status == 200) {
			btn.value    = '<%:Mengunduh%>';
			btn.disabled = false;
			XHR.get('<%=luci.dispatcher.build_url("admin", "services", "openclash", "update_ma")%>', status.corever, function(x, status) {
			if ( x && x.status == 200 ) {
				if ( status.corever != "0" ) {
					if (type == "Dev") {
						url1='https://raw.githubusercontent.com/vernesong/OpenClash/'+r+'/core-lateset/dev/clash-'+status.corever+'.tar.gz';
						window.location.href=url1;
					}
					if (type == "TUN") {
						var corelv = status.corelv;
					var arr_core = corelv.split(",");
					var coretunlvis = arr_core[1];
					if ( coretunlvis != "" ) {
						url3='https://raw.githubusercontent.com/vernesong/OpenClash/'+r+'/core-lateset/premium/clash-'+status.corever+'-'+coretunlvis+'.gz';
					window.location.href=url3;
					}
					else {
					alert('<%:Gagal mendapatkan versi terbaru. Coba lagi nanti!%>')
					}
					}
					if (type == "Meta") {
						url4='https://raw.githubusercontent.com/vernesong/OpenClash/'+r+'/core-lateset/meta/clash-'+status.corever+'.tar.gz';
				window.location.href=url4;
					}
				}
				else {
					alert('<%:Tidak Ada Versi Kompilasi yang Dipilih, Silakan Pilih di Bagian Atas dan Coba Lagi!%>')
				}
			}
       		});
        return false;
    	}
      });
    }
    
    function ma_op_update(btn)
    {
        btn.value    = '<%:Mengunduh%>';
        btn.disabled = false;
        var r = release_branch.value;
		XHR.get('<%=luci.dispatcher.build_url("admin", "services", "openclash", "save_corever_branch")%>', {release_branch: r}, function(x, status) {
			if (x && x.status == 200) {
			XHR.get('<%=luci.dispatcher.build_url("admin", "services", "openclash", "update_ma")%>', status.oplv, function(x, status) {
				if ( x && x.status == 200 ) {
					var oplv = status.oplv;
					var oplvis = oplv.substring(oplv.indexOf("v") + 1,oplv.indexOf(","));
					if ( oplvis != "" ) {
						url2='https://raw.githubusercontent.com/vernesong/OpenClash/'+r+'/luci-app-openclash_'+oplvis+'_all.ipk';
						window.location.href=url2;
					}
					else {
						alert('<%:Gagal mendapatkan versi terbaru. Silakan coba lagi nanti!%>')
					}
				}
			});
			}
        });
        return false; 
    }
    
    function remove_all_core(btn)
    {
        btn.value    = '<%:Hapus Core%>';
        btn.disabled = true;
        var r = confirm("<%:Apakah Anda yakin ingin menghapus semua file inti?%>")
        if (r == true) {
        XHR.get('<%=luci.dispatcher.build_url("admin", "services", "openclash", "remove_all_core")%>', null, function(x, status) {
        	if ( x && x.status == 200 ) {
        		alert('<%:Hapus berhasil!%>')
        		window.location.href='<%="settings?tab.openclash.config=version_update"%>';
        	}
          	else {
            alert('<%:Hapus gagal!%>')
           }
        });
        } else {
        }
        btn.disabled = false;
        return false; 
    }
    
    function restore_config(btn)
    {
        btn.value    = '<%:Kembalikan Konfigurasi Default%>';
        btn.disabled = true;
        var r = confirm("<%:Apakah Anda yakin ingin mengembalikan konfigurasi default??%>")
        if (r == true) {
        XHR.get('<%=luci.dispatcher.build_url("admin", "services", "openclash", "restore")%>', null, function(x, status) {
        	if ( x && x.status == 200 ) {
        		alert('<%:Pemulihan berhasil!%>')
        		window.location.href='<%="settings"%>';
        	}
        	else {
				alert('<%:Pemulihan gagal!%>')
				window.location.href='<%="settings"%>';
           }
        });
        }
        btn.disabled = false;
        return false; 
    }
    
    function backup_all_file(btn)
    {
		btn.value    = '<%:Backup OpenClash%>';
		btn.disabled = true;
		window.location.href='<%="backup"%>';
		btn.disabled = false;
		return false; 
    }

    function backup_no_core(btn)
    {
		btn.value    = '<%:Backup Exclude Cores%>';
		btn.disabled = true;
		window.location.href='<%="backup_ex_core"%>';
		btn.disabled = false;
		return false; 
    }

    function backup_only_core(btn)
    {
		btn.value    = '<%:Backup Core%>';
		btn.disabled = true;
		window.location.href='<%="backup_only_core"%>';
		btn.disabled = false;
		return false; 
    }

    function backup_only_config(btn)
    {
		btn.value    = '<%:Backup Config%>';
		btn.disabled = true;
		window.location.href='<%="backup_only_config"%>';
		btn.disabled = false;
		return false; 
    }

    function backup_only_rule(btn)
    {
		btn.value    = '<%:Backup Rule Provider%>';
		btn.disabled = true;
		window.location.href='<%="backup_only_rule"%>';
		btn.disabled = false;
		return false; 
    }

    function backup_only_proxy(btn)
    {
		btn.value    = '<%:Backup Proxy Provider%>';
		btn.disabled = true;
		window.location.href='<%="backup_only_proxy"%>';
		btn.disabled = false;
		return false; 
    }

    function all_one_key_update(btn)
    {
    	var v = core_version.value;
		var r = release_branch.value;
		XHR.get('<%=luci.dispatcher.build_url("admin", "services", "openclash", "save_corever_branch")%>', {core_ver: v, release_branch: r}, function(x, status) {
			if (x && x.status == 200) {
				btn.value    = '<%:One Click Check Update%>';
				btn.disabled = true;
				var r = confirm("<%:Check and update all Cores and plug-ins?%>")
				if (r == true) {
					XHR.get('<%=luci.dispatcher.build_url("admin", "services", "openclash", "one_key_update_check")%>', null, function(x, status) {
						if ( x && x.status == 200 ) {
							if ( status.corever != "0" ) {
								XHR.get('<%=luci.dispatcher.build_url("admin", "services", "openclash", "one_key_update")%>', null, function(x, status) {
									if ( x && x.status != 200 ) {
										alert('<%:Check failed, Please try again later!%>')
									}
								});
								}
							else {
								alert('<%:No Compiled Version is Selected, Please Select on The Top and Try Again!%>')
							}
						}
						else {
							alert('<%:Check failed, Please try again later!%>')
							}
					});
				}
				btn.disabled = false;
				return false;
			}
		});
    }

//]]></script>
